[build]
    publish = "out"
    command = "pnpm run build"

[build.environment]
    NODE_VERSION = "22"
    NODE_OPTIONS = "--max-old-space-size=4096"
    PYTHON_VERSION = "3.9"

[build.processing]
    skip_processing = false

[build.processing.images]
    compress = true
[functions]
  directory = "src/netlify/functions"
