.mainContent {
  width: 100%;
}

.pageTitle {
  color: var(--heading-color);
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: bold;
}

.pageDescription {
  color: var(--text-color);
  margin-bottom: 24px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .pageTitle {
    font-size: 1.5rem;
  }
  
  .pageDescription {
    font-size: 1rem;
  }
}
