---
title: "My Portfolio";
import CLI from "../components/CLI.svelte";
---

<div class="container">
  <CLI client:visible/>
</div>

<style scoped>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
