---
interface Props {
  align?: "start" | "center";
}
---

<section class="layout">
  <h2 class="title">About Me</h2>
  <div class="layout-content">
    <img
      alt="shaba。自作のアバター画像。腱駆動型のヒューマノイド。"
      src="https://github.com/shabaraba.png"
      class="avator"
    />
    <p class="description">
      2020年よりWebエンジニアとして活動しています。<br />
      面倒なことを見つけて改善したりツールを作ったりするのが好きです。<br />
      学生の頃からモノやサービスを作るのが好きで、<br />
      絵を描いたりロボットを設計したり、アプリを作ったりして遊んでいます。<br />
    </p>
  </div>
</section>

<style>
  .layout {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  .layout-content {
    display: flex;
    gap: 2rem;
    margin: 30px auto;
    padding: 10px;
    border-radius: 2.5rem;
    box-shadow: 8px 10px 5px var(--gray-600);
    background: var(--gray-999);
  }

  img {
    border-radius: 2.5rem;
    width: 200px;
  }

  .description {
    font-size: var(--text-sm);
    color: var(--gray-0);
    display: flex;
    align-items: center;
  }

</style>
