---
interface Props { align?: 'start' | 'center'; }

---

<header class:list={['hero stack gap-4']}>
	<div class="stack gap-2">
		<h1 class="title">Shaba's Portfolio</h1>
		<p class="tagline">
			2020年よりWebエンジニアとして活動しています。<br/>
			面倒なことを見つけて改善したりツールを作ったりするのが好きです。
		</p>
	</div>
	<slot />
</header>

<style>
	.title,
	.tagline {
		/* max-width: 37ch; */
		margin-inline: auto;
		font-size: var(--text-md);
	}

	.title {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
		}

		.start {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-5xl);
		}
	}
</style>
