---
import Icon from "./Icon.astro";
---

<section class="layout">
  <h2 class="title">Skills</h2>
  <div class="layout-content">
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="terminal-window"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h3>Full Stack</h3>
      <div class= "skill-content-list">
        <div class="skill-content"> <span>PHP</span> <span><progress value="80" max="100"></progress></span> </div>
        <div class="skill-content"> <span>Java</span> <span><progress value="70" max="100"></progress></span> </div>
        <div class="skill-content"> <span>JavaScript</span> <span><progress value="80" max="100"></progress></span> </div>
        <div class="skill-content"> <span>TypeScript</span> <span><progress value="50" max="100"></progress></span> </div>
        <div class="skill-content"> <span>Python</span> <span><progress value="40" max="100"></progress></span> </div>
      </div>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="trophy"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h3>Frame Works</h3>
      <div class= "skill-content-list">
        <div class="skill-content"> <span>Laravel</span> <span><progress value="80" max="100"></progress></span> </div>
        <div class="skill-content"> <span>SpringBoot</span> <span><progress value="70" max="100"></progress></span> </div>
        <div class="skill-content"> <span>Next.js</span> <span><progress value="70" max="100"></progress></span> </div>
        <div class="skill-content"> <span>Flask</span> <span><progress value="50" max="100"></progress></span> </div>
      </div>
    </div>
    <div class="stack gap-2 lg:gap-4">
      <Icon
        icon="strategy"
        color="var(--accent-regular)"
        size="2.5rem"
        gradient
      />
      <h3>Illust</h3>
      <p>趣味でイラストを描きます。</p>
    </div>
  </div>
</section>

<style>
  .layout {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
  }
  .layout-content {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }

  .skill-content-list {
    width: 90%;
  }

  .skill-content {
    display: flex;
    justify-content: space-between;
  }

  .skill-content p {
    color: var(--gray-400);

  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }
  }
</style>
